#aboutImg{
	padding:10px;
	position: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	max-width: 80vw;
}

#aboutImgInline{
	padding:10px;
	float:right;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	max-width: 20vw;
}
