@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,300;1,700&family=Oswald:wght@400;700&display=swap');

body{
    background-color:#d3d3d3;
}

*{
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;

	max-width: 100%;
}

h1. h2, h3, h4, h5, h6{
	font-family: 'Oswald', sans-serif;
}

body, body p{
	font-family: 'Open Sans', sans-serif;
}

ul{
    margin:0;
    padding:0;
}

body{
    margin:0;
}

li{
	list-style-type:none;
	display: inline-block;
}

header{
	background: url('../media/double-bubble-dark.png');
	padding: 40px 0;
	width: 100%;
}

header.sticky{
	position: fixed;
}

header nav{
	display: inline-block;
	vertical-align: top;
	margin: 20px 0 0 70px;
}

nav li a{
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Oswald', sans-serif;
}

nav li a:hover{
	color: #d7d7d7;
}

#covid-infographic{
	margin: auto;
	margin: auto 50px auto auto;
}

#covid-info{
	background: #FFCC00;
	margin: 50px 0 0 50px;
	color: #fff;
	padding: 10px 20px;
	border: 1px solid #aaa;
}

h1{
    color: #343565;
    font-size: 1.7em;
}

#amusements h1{
	margin: 30px 50px;
}

h2{
    color: #343565;
    padding:10px;
    font-size:1.2em;
}

p{
    color: #343565;
    padding: 5px;
    padding-left:10px;
    padding-right:10px;
    font-size:0.9em;
}


/*Index.html CSS---------------------------------------*/


#covid-info { grid-area:info;}
#covid-infographic { grid-area:info-graphic;}
#logo { grid-area: logo;}
#amusements {grid-area: attraction;}
#tickets {grid-area: tickets;}
#contact { grid-area: contact;}
header#header { grid-area: header; }


.grid-container-index {
    display: grid;
    grid-template-columns: auto auto auto auto;
		grid-column-gap: 50px;
    grid-template-areas:
        'header header header header'
        'info info info info-graphic'
        'attraction attraction attraction attraction'
        'tickets tickets tickets tickets'
        'contact contact contact contact'
        'footer footer footer footer'
}

#logo{
    padding: 14px 16px;
    background-color: #303136;
    height:52px;
		display: inline-block;
		margin-left: 50px;
}

#amusements{
	margin-top: 70px;
}

.amusements_list{
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-column-gap: 50px;
	grid-auto-rows: 1fr;
	margin: 0 50px;
}

.amusements_list .amusement{
	background: #e6e6e6;
	margin-bottom: 50px;
	box-shadow: 5px 5px 10px -5px #999999;
	border: 1px solid #c1c1c1;
}

.amusements_list .amusement:hover{
	background: #ffffff;
	box-shadow: 5px 5px 8px -2px #616161;
}

.amusements_list .amusement h2{
	padding: 0;
	margin: 10px 20px;
	line-height: 2em;
}

.amusements_list .amusement p{
	padding: 0;
	margin: 10px 20px;
	line-height: 1.4em;
}

.amusements_list .amusement em{
	color: #343565;
	font-weight: bold;
	margin: 0 20px 30px;
	font-size: 14px;
	display: block;
	font-style: normal;
}

#amusements img{
    display: block;
    max-width: 100%;
}


#amusements td{
    width: 25vw;
}

#tickets{
	margin: 30px 50px;
}

#tickets table{
	width: 100%;
	background: #e6e6e6;
	padding: 10px;
	border: 1px solid #aaa;
}

#tickets p{
    font-size: 0.7em;
}

#tickets td{
    width: 10vw;
    color: #343565;
    padding:5px
}

#tickets th{
    color: #343565;
    padding:5px;
    text-align: left;
}


footer{
	background: url('../media/double-bubble-dark.png');
	padding: 30px 50px;
}

footer h3,
footer p,
footer span,
footer td{
	color: #fff;
}


/* Contact Section*/
.blockdesing{
    margin: 0 5px 0px;
    float: left
}


#socials,
#location,
#hours{
    width: 33%;
    float: left;
		padding: 0 50px 0 0;
		box-sizing: border-box;
}

#socials .contact{
	color: #fff;
	text-decoration: none;
	opacity: 0.8;
	background-repeat: no-repeat;
	background-position: left;
	background-size: 32px;
	padding-left: 50px;
	display: block;
	line-height: 32px;
}

#socials .contact:hover{
	opacity: 1;
}

#socials .contact.gmail{
	background-image: url('../media/gmail.png');
}

#socials .contact.phone{
	background-image: url('../media/phone.png');
}

#socials .contact.facebook{
	background-image: url('../media/facebook.png');
}

#socials .contact.twitter{
	background-image: url('../media/twitter.png');
}

footer #location iframe{
	width: 100%;
	height: 230px;
	border: none;
}
